<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Military Base Details</title>
  <style>
    table {
      border-collapse: collapse;
      width: 100%;
    }
    th, td {
      padding: 8px;
      text-align: left;
      border-bottom: 1px solid #ddd;
    }
  </style>
</head>
<body>
<header>
  <a href="/static">MAIN PAGE</a>
</header>
<h1>Military Base Details</h1>
<a href="military_base/insert">  insert</a>
<table>

    <th>Unit ID</th>
    <th>Region ID</th>
  <div th:each="el : ${bases}"><tr>
  </tr>
    <tr>
      <td id="id"  th:text="${el.unitId}"></td>
      <td id="region" th:text="${el.regionId}"></td>
      <td> <form th:action="'/military_base/' + ${el.unitId} +'/remove'" method="post"><button type="submit" > delete</button></form></td>
    </tr></div>

</table>
</body>
</html>